<div class="profile-image-container">

  <mat-card>

    <form [formGroup]="clientPaymentForm">

      <mat-card-content>

        <div mat-header-cell>Loan Accounts</div>
        <table *ngIf="!showClosedLoanAccounts" mat-table [dataSource]="loanAccounts|accountsFilter:'loan'">
          <ng-container matColumnDef="Account No">
            <th mat-header-cell *matHeaderCellDef> Account No. </th>
            <td mat-cell *matCellDef="let element"> <i class="fa fa-stop"
                                                       [ngClass]="element.inArrears?'status-active-overdue':(element.status.code|statusLookup)"></i>
              {{element.accountNo}}
            </td>
          </ng-container>

          <ng-container matColumnDef="Loan Account">
            <th mat-header-cell *matHeaderCellDef> Loan Account </th>
            <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
          </ng-container>

          <ng-container matColumnDef="Original Loan">
            <th mat-header-cell *matHeaderCellDef> Original Loan </th>
            <td mat-cell *matCellDef="let element"> {{element.originalLoan}} </td>
          </ng-container>
          <ng-container matColumnDef="Loan Balance">
            <th mat-header-cell *matHeaderCellDef>Loan Balance </th>
            <td mat-cell *matCellDef="let element"> {{element.loanBalance}} </td>
          </ng-container>

          <ng-container matColumnDef="Amount Paid">
            <th mat-header-cell *matHeaderCellDef> Amount Paid </th>
            <td mat-cell *matCellDef="let element"> {{element.amountPaid}} </td>
          </ng-container>

          <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element">
              <i class="fa fa-large" [ngClass]="(element.loanType.value=== 'Individual')?'fa-user':'fa-group'" matTooltip=" {{ element.loanType.value }}" matTooltipPosition="above"></i>
            </td>
          </ng-container>

          <ng-container matColumnDef="Repayment Amount">
            <th mat-header-cell *matHeaderCellDef> Repayment Amount </th>
            <td mat-cell *matCellDef="let element">
            <mat-form-field *ngIf="clientPaymentForm.contains('repaymentAmount')">
              <input matInput formControlName="repaymentAmount" [defaultValue]="0" (change)="captureLoanAmount(element.id)">
            </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="Charges">
            <th mat-header-cell *matHeaderCellDef> Charges </th>
            <td mat-cell *matCellDef="let element"> {{element.charges}} </td>
          </ng-container>

          <ng-container matColumnDef="Add Loan Charges">
            <th mat-header-cell *matHeaderCellDef> All Loans Charges </th>
            <td mat-cell *matCellDef="let element">
              <button type="button" mat-raised-button [routerLink]="['/clients/'+clientId+'/loans-accounts/'+element.id+'/actions/Add Loan Charge']">Add Charge</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="openLoansColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: openLoansColumns;" class="select-row"></tr>

        </table>

        <div mat-header-cell>Saving Accounts</div>
        <table *ngIf="!showClosedSavingAccounts && isSavings" mat-table
               [dataSource]="savingAccounts|accountsFilter:'saving':'open':'isSavings'">
          <ng-container matColumnDef="Account No">
            <th mat-header-cell *matHeaderCellDef> Account No. </th>
            <td mat-cell *matCellDef="let element"> <i class="fa fa-stop" [ngClass]="element.status.code|statusLookup"></i>
              {{element.accountNo}} </td>
          </ng-container>

          <ng-container matColumnDef="Saving Account">
            <th mat-header-cell *matHeaderCellDef> Saving Account </th>
            <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
          </ng-container>

          <ng-container matColumnDef="Balance">
            <th mat-header-cell *matHeaderCellDef> Balance </th>
            <td mat-cell *matCellDef="let element"> {{element.accountBalance}} </td>
          </ng-container>

          <ng-container matColumnDef="Account Type">
            <th mat-header-cell *matHeaderCellDef> Account Type </th>
            <td mat-cell *matCellDef="let element"> {{element.depositType.value}} </td>
          </ng-container>

          <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element">
              <i class="fa fa-large" [ngClass]="(element.accountType.value=== 'Individual')?'fa-user':'fa-group'" matTooltip=" {{ element.accountType.value }}" matTooltipPosition="above"></i>
            </td>
          </ng-container>

          <ng-container matColumnDef="Deposit Amount">
            <th mat-header-cell *matHeaderCellDef> Deposit Amount </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field *ngIf="clientPaymentForm.contains('depositAmount')">
                <input matInput formControlName="depositAmount" [defaultValue]="0" (change)="captureSavingsAmount(element.id)">
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="Charges">
            <th mat-header-cell *matHeaderCellDef> Charges </th>
            <td mat-cell *matCellDef="let element"> {{element.charges}} </td>
          </ng-container>

          <ng-container matColumnDef="Add Savings Charges">
            <th mat-header-cell *matHeaderCellDef> All savings Charges </th>
            <td mat-cell *matCellDef="let element">
              <button type="button" mat-raised-button [routerLink]="['/clients/'+clientId+'/savings-accounts/'+element.id+'/actions/Add Charge']">Add Charge</button>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="openSavingsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: openSavingsColumns;"></tr>

        </table>

        <table mat-table [dataSource]="totalPaymentArray">
          <ng-container matColumnDef="Total Payment">
            <th mat-header-cell *matHeaderCellDef> Total Payment </th>
            <td mat-cell *matCellDef="let element"> {{element}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="totalColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: totalColumns;"></tr>
        </table>

        <table mat-table [dataSource]="paymentDetails">

          <ng-container matColumnDef="Payment Details">
            <th mat-header-cell *matHeaderCellDef> Payment Details </th>
            <td mat-cell *matCellDef="let element"> {{element}} </td>
          </ng-container>

          <ng-container matColumnDef="Transaction Date">
            <th mat-header-cell *matHeaderCellDef> Transaction Date </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field>
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="transactionDatePicker" required
                     formControlName="transactionDate">
              <mat-datepicker-toggle matSuffix [for]="transactionDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #transactionDatePicker></mat-datepicker>
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="Payment Type">
            <th mat-header-cell *matHeaderCellDef> Payment Type </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field>
              <mat-select formControlName="paymentTypeId">
                <mat-option *ngFor="let paymentType of paymentTypeOptions" [value]="paymentType.id">
                  {{ paymentType.name }}
                </mat-option>
              </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="Account #">
            <th mat-header-cell *matHeaderCellDef> Account # </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field>
              <input matInput formControlName="accountNumber">
              </mat-form-field>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="paymentDetailsColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: paymentDetailsColumns1;"></tr>
        </table>

        <table mat-table [dataSource]="paymentDetails">

          <ng-container matColumnDef="Cheque #">
            <th mat-header-cell *matHeaderCellDef> Cheque # </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field>
                <input matInput formControlName="checkNumber">
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="Routing Code">
            <th mat-header-cell *matHeaderCellDef> Routing Code </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field>
                <input matInput formControlName="routingCode">
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="Reciept #">
            <th mat-header-cell *matHeaderCellDef> Reciept # </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field>
                <input matInput formControlName="receiptNumber">
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="Bank #">
            <th mat-header-cell *matHeaderCellDef> Bank # </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field>
                <input matInput formControlName="bankNumber">
              </mat-form-field>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="paymentDetailsColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: paymentDetailsColumns2;"></tr>
        </table>



        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
          <button type="button" mat-raised-button [routerLink]="['../../general']">Back</button>
          <button mat-raised-button color="primary" (click)="submit()">Submit</button>
          <button mat-raised-button color="primary" (click)="submitAndReport()">Submit And Print</button>
        </mat-card-actions>

        <table mat-table [dataSource]="errorResponse" *ngIf="showError">

          <ng-container matColumnDef="Errors">
            <th mat-header-cell *matHeaderCellDef> Errors </th>
            <td mat-cell *matCellDef="let element">{{element}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="errorResponseColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: errorResponseColumns;"></tr>

        </table>

        <iframe *ngIf = "showReport" [src]="pentahoUrl" frameborder="0" width=100% height="750px;"></iframe>

      </mat-card-content>

    </form>

  </mat-card>

</div>
