<h1 mat-dialog-title>View Journal Entry</h1>

<div mat-dialog-content>

  <table>

    <tr>
      <th>Office</th>
      <td>{{ data.journalEntry.officeName }}</td>
    </tr>

    <tr>
      <th>Entry ID</th>
      <td>{{ data.journalEntry.id }}</td>
    </tr>

    <tr>
      <th>Transaction ID</th>
      <td>{{ data.journalEntry.transactionId }}</td>
    </tr>

    <tr>
      <th>Transaction Date</th>
      <td>{{ data.journalEntry.transactionDate }}</td>
    </tr>

    <tr>
      <th>Type</th>
      <td>{{ data.journalEntry.journalEntryDetails[0].glAccountData.type.value }}</td>
    </tr>

    <tr>
      <th>Account Code</th>
      <td>{{ data.journalEntry.journalEntryDetails[0].glAccountData.id }}</td>
    </tr>

    <tr>
      <th>Account Name</th>
      <td>{{ data.journalEntry.journalEntryDetails[0].glAccountData.name }}</td>
    </tr>

    <tr>
      <th>
        <span *ngIf="data.journalEntry.journalEntryDetails[0].entryType.value === 'CREDIT'">Credit</span>
        <span *ngIf="data.journalEntry.journalEntryDetails[0].entryType.value === 'DEBIT'">Debit</span>
      </th>
      <td>
        {{(data.journalEntry.currency.displaySymbol || data.journalEntry.currency.code)}}&nbsp;{{data.journalEntry.journalEntryDetails[0].amount | number}}
      </td>
    </tr>

    <tr >
      <th>Reference Number</th>
      <td *ngIf="data.journalEntry.referenceNumber">{{ data.journalEntry.referenceNumber }}</td>
    </tr>

    <tr >
      <th>Comments</th>
      <td *ngIf="data.journalEntry.comments">{{ data.journalEntry.comments }}</td>
    </tr>

    <tr>
      <th colspan="2" class="header">Payment Details</th>
    </tr>

    <tr>
      <th>Payment Type</th>
      <td *ngIf="paymentDetails">
        {{paymentDetails.paymentType ? paymentDetails.paymentType.name : ''}}</td>
    </tr>

    <tr>
      <th>Account Number</th>
      <td *ngIf="paymentDetails">{{ paymentDetails.accountNumber }}</td>
    </tr>

    <tr>
      <th>Cheque Number</th>
      <td *ngIf="paymentDetails">{{ paymentDetails.checkNumber }}</td>
    </tr>

    <tr>
      <th>Routing Code</th>
      <td *ngIf="paymentDetails">{{ paymentDetails.routingCode }}</td>
    </tr>

    <tr>
      <th>Receipt Number</th>
      <td *ngIf="paymentDetails">{{ paymentDetails.receiptNumber }}</td>
    </tr>

    <tr>
      <th>Bank Number</th>
      <td *ngIf="paymentDetails">{{ paymentDetails.bankNumber }}</td>
    </tr>

    <tr>
      <th>Created by</th>
      <td>{{ data.journalEntry.createdByUserName }}</td>
    </tr>

    <tr>
      <th>Created on</th>
      <td>{{ data.journalEntry.createdDate }}</td>
    </tr>

  </table>

</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
