<div class="container">
   <mat-card>
    <form [formGroup]="sendBulkSmsForm" (ngSubmit)="submit()">
       <mat-card-content>
       <div fxLayout="column">
        <mat-form-field >
            <mat-label>Office</mat-label>
            <mat-select formControlName="officeId">
              <mat-option *ngFor="let office of officeOptions" [value]="office.id">
                {{ office.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Sub Status</mat-label>
            <mat-select formControlName="subStatusId">
              <mat-option [value]="0" (click) = "getAllClients()">All Clients</mat-option>
              <mat-option [value]="'s2'">Selected Clients</mat-option>
              <mat-option *ngFor="let subStatus of subStatusOptions" [value]="subStatus.id">
                {{ subStatus.name }}
              </mat-option>
              <mat-option [value]="'CWL'">Clients with loans</mat-option>
              <mat-option [value]="'LIA'">Loans in arrears</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Sms Provider</mat-label>
            <mat-select formControlName="smsProviderId">
              <mat-option *ngFor="let provider of smsProviderOptions" [value]="provider">
                {{provider}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <ng-container *ngIf = "selectedClients">
          <mat-form-field>
            <mat-label>Client Name</mat-label>
            <input matInput formControlName="clientName" [matAutocomplete]="clientsAutocomplete">
            <mat-error *ngIf="sendBulkSmsForm.controls.clientName.hasError('required')">
              Name <strong>is required</strong>
            </mat-error>
          </mat-form-field>

          <mat-autocomplete autoActiveFirstOption #clientsAutocomplete="matAutocomplete" [displayWith]="displayClient"
          (optionSelected)='clientSelected($event.option.value)'>
            <mat-option *ngFor="let client of clientsData" [value]="client">
              {{ client.displayName }} 
            </mat-option>
          </mat-autocomplete>
        </ng-container>

        <ng-container *ngIf="!(sendBulkSmsForm.controls.clientName === undefined)">
          <div class="mat-table">
            <div class="mat-row">
              <div class="mat-cell">Selected Clients</div>
              <div class="mat-cell" *ngFor= "let client of selectedClientsDetails; let i = index">
                {{client.name}} <button type="button" mat-icon-button color="warn" (click)="remove(i)">
                  <fa-icon icon="trash"></fa-icon></button>
              </div>
            </div>
          </div>
        </ng-container>

          <!-- <mat-form-field>
            <mat-label>Clients</mat-label>
            <mat-select #mySel required formControlName="clientId" multiple>
              <mat-option [value]="0" (click)="toggleAllSelection()">All</mat-option>
              <mat-option *ngFor="let client of clientsOptions" [value]="client.id">
                {{ client.displayName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="sendBulkSmsForm.controls.clientId.hasError('required')">
                Client is <strong>required</strong>
              </mat-error>
          </mat-form-field> -->

          <mat-form-field>
            <mat-label>Message</mat-label>
            <textarea required matInput formControlName="message"></textarea>
            <mat-error *ngIf="sendBulkSmsForm.controls.message.hasError('required')">
                Message Is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>    
       </mat-card-content>
       <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../../', 'general']">Cancel</button>
        <button mat-raised-button color="primary" [disabled]="!sendBulkSmsForm.valid">Submit</button>
      </mat-card-actions>
    </form>   
   </mat-card>
</div>
