mat-list {
  padding-top: 0px;
}

mat-list-item {
  .link {
    color: blue;
    text-decoration: underline;
    width: fit-content;
    &:hover{
      cursor: pointer;
    }
  }
  margin-block: 20px;
  &:hover{
    background-color: #f5f5f5;
  }
}
.message {
  padding: 8px 0;
  font-size: 18px;
}
.alert-check {
  color:#359FF4;
  margin-right: 2px;
  font-size: 1.4rem;
}
