mat-card-title {
  margin-bottom: 20px;
}

.display-field {
  margin-bottom: 10px;
}

.display-field .field-name {
  font-weight: 500;
  margin-right: 5px;
}

.display-field .field-value {
  font-weight: 300;
}

.form-section {
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.full-width {
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  gap: 10px;
}

.center-button {
  display: flex;
  justify-content: center;
}

.mat-raised-button.mat-success {
  color: #fff;
  background-color: #008000ab;
}
.mat-raised-button.mat-reject {
  color: #fff;
  background-color: #FFCA00;
}