<div class="container">

    <mat-card>
     <h2 mat-title >View Reschedule Request Details</h2>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="5px">
      <button mat-raised-button color="warn" *mifosxHasPermission="'REJECTRESCHEDULE_LOAN'" (click)="reject()"> 
        Reject
     </button>
     <button mat-raised-button color="primary" *mifosxHasPermission="'APPROVERESCHEDULE_LOAN'" (click)="approve()">
      Approve
     </button>
    </div>

      <mat-card-content>
        <div class="viewGuarantors-account-tables" fxLayout="row" fxLayoutGap="2%">
          <div fxFlex="70%">
            <table>
                <tbody>
                  <tr>
                    <td>Reschedule from Installment On</td>
                    <td>{{loanRescheduleDetails.rescheduleFromDate|date}}</td>
                  </tr>
                  <tr>
                    <td>Reason for Rescheduling</td>
                    <td>{{loanRescheduleDetails.rescheduleReasonCodeValue.name}}</td>
                  </tr>
                  <tr>
                    <td>Submitted On</td>
                    <td>{{loanRescheduleDetails.timeline.submittedOnDate|date}}</td>
                  </tr>
                  <tr>
                    <td>Comments</td>
                    <td><textarea>{{loanRescheduleDetails.rescheduleReasonComment}}</textarea></td>
                  </tr>
                  <tr>
                    <td><mat-checkbox disabled [checked] = "changeRepaymentDate">Change Repayment Date</mat-checkbox> </td>
                    <td></td>
                  </tr>
                  <tr *ngIf = "changeRepaymentDate"> 
                    <td>Installment Rescheduled to</td>
                    <td>{{loanRescheduleDetails.adjustedDueDate | date}}</td>
                  </tr>
                  <tr>
                    <td><mat-checkbox disabled [checked] = "introduceGracePeriods">Introduce Mid-term grace periods</mat-checkbox></td>
                    <td></td>
                  </tr>
                  <tr *ngIf = "introduceGracePeriods">
                    <td>Principal Grace Periods</td>
                    <td>{{loanRescheduleDetails.graceOnPrincipal}}</td>
                  </tr>
                  <tr *ngIf = "introduceGracePeriods">
                    <td>Interest Grace Periods 	</td>
                    <td>{{loanRescheduleDetails.graceOnInterest}}</td>
                  </tr>
                  <tr>
                    <td><mat-checkbox disabled [checked] = "extendRepaymentPeriod">Extend Repayment Period</mat-checkbox></td>
                    <td></td>
                  </tr>
                  <tr *ngIf = "extendRepaymentPeriod">
                    <td>Number Of new Repayments</td>
                    <td> {{loanRescheduleDetails.extraTerms}}</td>
                  </tr>
                  <tr>
                    <td><mat-checkbox disabled [checked] = "adjustinterestrates">Adjust interest rates for remainder of loan</mat-checkbox></td>
                    <td></td>
                  </tr>
                  <tr *ngIf = "adjustinterestrates">
                    <td>New Interest Rate</td>
                    <td> {{loanRescheduleDetails.interestRate}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
         </div>
          <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
                <button type="button" mat-raised-button [routerLink]="['../../general']">Cancel</button>
                <button mat-raised-button color="primary">View New Repayment Schedule</button>
          </mat-card-actions>
      
        </mat-card-content>
      
    </mat-card>
    
</div>
      
  